$font-family-myriadPro-regular: 'myriadPro-regular', Helvetica, Arial, sans-serif !default;
$font-family-myriadPro-black: 'myriadPro-black';
$font-family-myriadPro-semibold: 'myriadPro-semibold';
$font-family-myriadPro-light: 'myriadPro-light';
$font-family-myriadPro-bold: 'myriadPro-bold';

$font-size-base : 16px;

$gray-shade-1: #727272;
$gray-shade-2: #cecece;
$gray-eee : #eeeeee;

$color-yellow : #f5bc0d;
$color-white : #fff;

