//Footer Open
footer{position:relative;width:100%;background-color:#06619c;color:#e4e4e4;}
footer{
    ul{padding-left: 0;}
    a{color:#e4e4e4;text-decoration:none;}
    a:hover{text-decoration:underline;color:#fff;}
    .padding-top{padding-top: 105px;}
    .favourite{background-color: #f44336; border: 1px solid #f44336; width: 32px; height: 32px; border-radius: 32px;text-align: center;color: #fff;}
    .favourite a{font-size: 17px;color: #fff;line-height: 2;}
    .favourite:hover{background-color: #fff; border: 1px solid #f44336;}
    .favourite:hover a{color: #f44336;}
    .fa-phone{border: 1px solid #555;width: 15px;height: 15px;border-radius:15px;text-align: center;color: #555;line-height: 1.2;font-size: 10px;margin-right: 5px;}
    .border-right{border-right: 1px #e5e5e5 solid;margin: 22px 0px;}
    .border-right-lightBlue{border-right: 1px solid #1f71a5;}
    .border-left-lightBlue{border-left: 1px solid #1f71a5;}
     h3{color:#fff;    margin-top: 10px;}
     #mapIcon{
         .mapContent p{color: #555;margin-bottom:0;}    
         .mapContent p:first-child{margin-bottom:5px;}
        }
    .aboutww {padding:25px 0;}
    .aboutww{
        .about{
            p{line-height:1.5;margin-top: 14px;font-size: 15px;}
        }
        .products{    
            ul{margin-left: auto;}
            li{line-height:2;width: 100%;padding-left: 0;}
            li a{font-size: 15px;}
            }
        .follow{
            .socialIcons{margin-top:16px;margin-left: 0;}
            .socialIcons{ 
                li{width:40px;height:40px;border-radius:20px;background-color:#fff;margin-right:10px;text-align: center;vertical-align: middle;cursor:pointer;transition:  color 0.5s ease;} 
                li:last-child{margin-right:0px;transition:  color 0.5s ease;} 
                li:first-child:hover a{color:#3953a0;transition:  color 0.5s ease;}
                li:nth-child(2):hover a{color:#2dbffa;transition:  color 0.5s ease;}
                li:nth-child(3):hover a{color:#d62f36;transition:  color 0.5s ease;}
                li:nth-child(4):hover a{color:#d41817;transition:  color 0.5s ease;}
                li:nth-child(5):hover a{color:#0169a6;transition:  color 0.5s ease;}
                li:last-child:hover a{color:#ef8732;transition:  color 0.5s ease;}                
                a{color:#9396ae;font-size:20px;line-height:2;}
                }
            .links{margin-top:20px;}    
            .links{ 
                li{border-right:solid 1px #fff;} 
                li:last-child{border-right:none;}           
                a{ font-size:15px; }
                }    
              }
            }
     .paymentSecurity{padding: 0 0 20px;}
     .paymentSecurity{
           li:last-child{margin-right: 0;}    
           .payment h3{margin-right:20px;}
           .payment ul{margin-top: 10px;}
        }
    .contactDetails{background-color: #fff;position: absolute;max-width: 1170px;left: 0;right: 0;margin: auto;top: 270px;                             color:#555555;
                    -webkit-box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.3);
                    box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.3);}
    .contactDetails{
        h3{text-transform: uppercase;color: #555555;font-weight: bold;font-size: 22px;}
        p{font-size: 15px;}
        .twitterFeed{margin:17px 0;}
        .contactInfo{margin:0 0 17px;}
        .contactInfo img{padding: 5px 0;}
        .contactInfo .img{width: 13%;}
        .twitterFeed img{padding: 10px 0;}
        .twitterFeed .img{width: 14%;}
        .img{width: 14%;}
        .content{width: 86%;}
        .twitterFeed .fa-twitter{color: #9396ae}
        .promo{position: relative;}
        .promo{
            img{float: left;}
            ul{position: absolute;right:20%;bottom: 0;margin: 0;}
            ul li{margin:10px 0;}
            .share{padding:0 0 22px;}
            .share a:hover img{opacity: 0.8;}
            .time{font-size: 14px;}
            }
        }

    .bottomFooter{height: 30px;background-color: #052a51;color: #fff;text-align: center; width: 100%;}
    .bottomFooter{
        p{margin: 0;line-height: 2.5;font-size: 12px;opacity: 0.6;}
    }
  #mapIcon {
    height:380px;
  }
}
//Footer Close


#wrapper.active #sidebar-wrapper{display: none;}

footer .contactDetails {
    -webkit-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.27);
}

footer .border-right{border: none;}

footer .border-right:before {
    content: "";
    display: block;
    border-right: 1px #e5e5e5 solid;
    position: absolute;
    height: 95%;
    width: 1px;
    right: 15px;
    top: 6px;
}

footer .contactDetails h3 {
    font-size: 24px;
}

footer .contactDetails p {
    font-size: 16px;
    font-family: 'myriadPro-regular';
    color: #555555;
}

footer .contactDetails p strong{
    font-family: 'myriadPro-bold';
    float: left;
}

footer .contactDetails .twitterFeed .fa-twitter {
    color: #9396ae;
    font-size: 22px;
    float: right;

}

footer .favourite {
    border-radius: 100%;
    line-height: 32px;
}

footer .favourite a {
    line-height: 32px;
    vertical-align: middle;
    padding-top:3px;
}

footer .contactDetails .promo ul {
    right: 13%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer .contactDetails .promo ul li {
    margin: 6px 0;
    padding: 0 !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .contactDetails .promo img {
    float: none;
}

footer .contactDetails .promo .time {
  font-family: 'myriadPro-regular';
}

footer h3 {
    font-size: 24px;
    font-family: 'myriadPro-bold';
}

footer .aboutww .about p {
    font-size: 16px;
    line-height: 20px;
    font-family: 'myriadPro-light';
}

footer .border-left-lightBlue,
footer .border-right-lightBlue {
    border: none;
    padding: 0;
}


footer .border-left-lightBlue:before {
    border-left: 1px solid #1f71a5;
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 90%;
    top: 12px;
    left: -30px;
}

footer .border-right-lightBlue:after {
    border-right: 1px solid #1f71a5;
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 90%;
    top: 12px;
    right: 10px;
}

footer .aboutww .products ul:last-child {
    padding: 0;
}

footer .aboutww .products li {
    line-height: 20px;
    padding-bottom: 8px;
}

footer .aboutww .products li a {
    font-size: 16px;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: #fff;
}

footer .aboutww .follow .socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

footer .aboutww .follow .socialIcons li {
    border-radius: 100%;
    line-height: 100%;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer .aboutww .follow .socialIcons a {
    line-height: 100%;
}

footer .bottomFooter {
    height: auto;
    background-color: #052a51;
    color: inherit;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

footer .bottomFooter p {
    margin: 0;
    line-height: normal;
    font-size: 16px;
    color: #e4e4e4;
    font-family: 'myriadPro-light';
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 980px){
    footer .contactDetails .promo ul{
        bottom: -14%;
        flex-direction: row;
    }

    footer .contactDetails .promo ul li {margin:0 6px;}

    footer .aboutww .follow .socialIcons li{margin-right: 8px;}

    .list-inline > li{padding-left: 3px;padding-right: 3px;}

    footer .aboutww .about p br {display: none;}

    footer .padding-top {padding-top: 155px;}

    footer .border-left-lightBlue, footer .border-right-lightBlue{padding: 0 15px;}
}

@media (max-width: 767px){
  footer #mapIcon{
    height: 270px;
  }

footer .contactDetails{position: static;}

footer .contactDetails h3 {
    font-size: 20px;
}

footer .border-right:before {
    content: "";
    display: block;
    border-bottom: 1px #e5e5e5 solid;
    border-right: none;
    position: absolute;
    width: 92%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

footer .contactDetails p br{display: none;}

footer .contactDetails p strong br{display: block;}

footer .padding-top {
    padding-top: 0;
}

footer .aboutww .about p br{display: none;}

footer .border-left-lightBlue, footer .border-right-lightBlue{padding: 0 15px;}

footer .border-left-lightBlue:before, footer .border-right-lightBlue:after{display: none;}

footer .list-inline {
    margin-left: 0;
}
}

@media (min-width: 481px) and (max-width: 767px){
footer .contactDetails p strong br{display: none;}
}


@media (max-width: 480px){

  footer .contactDetails .promo ul{right: 10%;}
  
  .payment li{
    width: 24%;
  }

  .security li {
    width: 32%;
    margin-top: 12px;
  }

  .payment li img, .security li img {
    width: 90%;
  }


}

