.inner-pages.serverWraper {
    min-height: auto;
    padding-top: 0;
}

/*************our-services*****************/

.service-banner{
    &:before{
        background:$white;
    }
   .banner-title{
     left:10%;
    h2{
        span{width:auto;
        @include xssScreen {width:180px;line-height: 1.6;}
       }
       @include xssScreen {font-size: 24px;}
     }
   }

  .service-banner-inner-image{
    position: absolute;
    right:20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    @include xsScreen {display: none;}
    @media (min-width: 768px) and (max-width:900px){right: 0;}
    @media (min-width: 901px) and (max-width:1024px){right: 0;}
  }
}

section.our-services{
    background: url("../../src/img/about/timeline-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 20px;
    position: relative;
    overflow: hidden;
}

section.our-services{
    .serivces-content{
        position: relative;
        margin: 160px 0;
        .owl-item {
            display: table;
            visibility: hidden;
        }
        .owl-item.active{visibility: visible;}
        .owl-stage{
            transform: translate3d(-12540px, 0px, 0px); transition: 0.605s!important; width: 22800px;
        }

        .owl-carousel .item {
          height: auto;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          img{
            width: auto;
            display: inline-block;
            padding:100px 0 100px 100px;
             @include lgScreen {padding:100px 0 100px 220px;}
             @include smScreen {padding: 100px 0 100px 250px;}
             @include xsScreen {display: none;}
          }
        }
        .animated  {
          -webkit-animation-duration : 3s  ;
          animation-duration : 3s  ;

          -webkit-animation-delay : 500ms  ;
          animation-delay : 500ms  ;
        }

        .animate-out {
          -webkit-animation-delay : 0ms  ;
          animation-delay : 0ms  ;
        }

        .owl-dots{
            position: absolute;
            left: -100px;
            top: 0;
            @include lgScreen {left: -20px;}
             @include xsScreen {left:0px;}
             @include smScreen {left:0px;}
            &:before {
                content: '';
                border: 1px solid #eee;
                position: absolute;
                height: 100%;
                top: -40%;
                left: 13px;
                z-index: -1;
            }
            &:after {
                content: '';
                border: 1px solid #eee;
                position: absolute;
                height: 100%;
                bottom: -44%;
                left: 13px;
                z-index: -1;
            }
            .owl-dot{
                margin-bottom: 40px;
                position: relative;
                &.active{
                    span{
                        position: relative;
                        background: transparent !important;
                    }
                    &:after{
                        right: -5px !important;
                    }
                    &:before{
                        content: attr(data-slide-content);
                        position: absolute;
                        left: 50px;
                        top: -5px;
                        font-size: 18px;
                        color: #555;
                        white-space: nowrap;
                    }
                }
                span {
                    width: 15px;
                    height: 15px;
                    margin: 5px 7px;
                    background: #D6D6D6;
                    display: block;
                    -webkit-backface-visibility: visible;
                    transition: opacity .2s ease;
                    border-radius: 30px;
                }
            }

            .owl-dot:nth-child(even) span{
                background: radial-gradient(#06619c 25%, #4495c9 20%, #dcf0fd 50%);
            }

            .owl-dot:nth-child(odd) span{
                background: radial-gradient(#ffc000 25%, #fbe08f 20%, #fef8e6 50%);
            }
            .owl-dot{
                &:after{
                    content: "";
                    width: 35px;
                    position: absolute;
                    right: -73px;
                    background-repeat: no-repeat !important;
                    top: -10px;
                }
            }
            .owl-dot:first-child{
                &:after{
                    background: url(../../src/img/services/location-services.png);
                    content: "";
                    height: 29px;
                }
            }
            .owl-dot:nth-child(2){
                &:after{
                    background: url(../../src/img/services/cloud-services.png);
                    content: "";
                    height: 23px;
                }
            }
            .owl-dot:nth-child(3){
                &:after{
                    background: url(../../src/img/services/email-services.png);
                    content: "";
                    height: 25px;
                }
            }
            .owl-dot:nth-child(4){
                &:after{
                    background: url(../../src/img/services/firewall-services.png);
                    content: "";
                    height: 25px;
                }
            }
            .owl-dot:nth-child(5){
                &:after{
                    background: url(../../src/img/services/server-services.png);
                    content: "";
                    height: 33px;
                }
            }
            .owl-dot:nth-child(6){
                &:after{
                    background: url(../../src/img/services/server1-services.png);
                    content: "";
                    height: 23px;
                }
            }

             .owl-dot:nth-child(7){
                &:after{
                    background: url(../../src/img/services/server2-services.png);
                    content: "";
                    height: 23px;
                }
            }

             .owl-dot:nth-child(8){
                &:after{
                    background: url(../../src/img/services/setting-services.png);
                    content: "";
                    height: 27px;
                }
            }

             .owl-dot:nth-child(9){
                &:after{
                    background: url(../../src/img/services/map-services.png);
                    content: "";
                    height: 30px;
                }
            }

              .owl-dot:nth-child(10){
                &:after{
                    background: url(../../src/img/services/carrier-services.png);
                    content: "";
                    height: 30px;
                }
            }
        }

        .owl-nav{
            display: none;
        }

        .know-more{
            // display: inline-block;
            // width: 305px;
            position:relative;
            top:228px;
            @include xsScreen{top:0;}
            @include smScreen{top:0;}
            P{
                font-size: 16px;
                font-family: 'myriadPro-bold';
                color: #6b6969;
            }
            a{
                background-color: #f6bc0d;
                color: #ffffff;
                font-size: 20px;
                padding: 10px 20px;
                display: inline-block;
                border-radius: 50px;
                width: 200px;
                font-family: 'myriadPro-bold';
                text-align:center;
                @include xssScreen {font-size: 15px;width: 150px;padding: 8px 10px;}
            }
        }

    }
}

section.our-services .serivces-content .owl-dots .owl-dot.active:after {
    width: 41px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    vertical-align: middle;
    background-color: #fff;
    background-position: center center;
    border-radius: 100%;
    background-size: 60%;
}

.ourservices-carousel{display:none !important;}

.serivces-content.desktop{display:block !important;}

@include xsScreen{
    .serivces-content.desktop{display:none !important;}

    .ourservices-carousel{display:block !important;}

    section.our-services .serivces-content{
        margin:40px 0;
    }
    .services-image-content{
        text-align:center;
    }

    .services-image-content img {
        width: auto !important;
        display: inline-block !important;
        margin-bottom: 10px;
    }

    .service-title h4 {
        font-size: 22px;
        font-family: 'myriadPro-bold';
    }

    section.our-services .serivces-content .know-more{
        width:auto;
        display:inline-block;
        position:static;
    }

    section.our-services .serivces-content .know-more P{margin-bottom:20px;}

   .ourservices-carousel .owl-nav {
    display: none;
   }
}